<form [formGroup] = "chatForm">
	<div class="form-group">
		<label for="title">Username</label>
		<input formControlName = "username" id="title" class="form-control" type="text" placeholder="Username">
  </div>
  
	<div class="d-flex justify-content-end align-items-center mt-4">
		<button  class="btn btn-lg btn-success" (click) = "conn()" [disabled] = "chatForm.get('username').value == ''">
			<span style="margin-right: 5px !important;" *ngIf = "!connected">Connect</span>
			<span style="margin-right: 5px !important;" *ngIf = "connected">Disconnect</span>
			<i class="fas fa-door-open"></i>
		</button>
	</div>

  <div class="form-group">
		<label for="password">Message</label>
		<input formControlName = "message" type="message" id="message" class="form-control" placeholder="Message">
	</div>

	<div class="d-flex justify-content-end align-items-center mt-4">
		<button [disabled] = "chatForm.get('message').value == '' || !connected" class="btn btn-lg btn-success" (click) = "send()">
			<span style="margin-right: 5px !important;">Send</span>
			<i class="fas fa-door-open"></i>
		</button>
	</div>
</form>

<label for="messages">Messages</label>
<div *ngFor = "let m of messages">
	<code>{{m.from}} </code>
	<span>{{m.message}}</span>
</div>